body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

.poster {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 4px 32px 0px 32px;
}

.title {
  font-weight: bold;
  font-size: 32px;
}
.subtitle {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 44px;
}
.title-top {
  display: flex;
  justify-content: space-between;
}

.title-left {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.haguta1 {
  width: 83px;
  height: 112px;
  float: right;
}

.title-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.more-about {
  color: #0056FC;
}
.body-block {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.about-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 4px;
}

.insta-title {
  font-weight: bold;
  font-size: 24px;
}

.insta-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.insta-logo {
  width: 28px;
  height: 28px;
}

.insta-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 4px;
}

.insta-body {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}